*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "minion-pro", serif;
    font-size: 16px;
}

hr {
    width: 85%;
    margin: auto;
    color: #b5b5b5;
}

h2 {
    display: inline;
    font-size: 1.7rem;
    font-style: bold;
    color: #fff;
    padding-bottom: 0.2rem;
}
h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    color: #b0b0b0;
}

.inicio .fixed a,
.inicio .flotantes a {
    text-decoration: none;
    color: #cfcfcf;
}

.inicio .fixed a .fa-chevron-circle-up {
    position: fixed;
    font-size: 2.5rem;
    bottom: 0%;
    left: 0%;
    margin: 1.5rem;
}

.inicio .flotantes {
    position: fixed;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    font-size: 1.8rem;
    color: #cfcfcf;
    top: 40%;
    right: 0%;
    margin: 1rem;
}

/* ----------  ----------  HEADER ----------  ----------*/

.inicio {
    background-image: url('img/inicio.jpg');
    background-repeat: none;
    background-size: cover;
}

header {
    background-color: rgba(0,0,0,0.5);
}

.header {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

header .logo {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header .logo .imagen img {
    width: 30px;
    margin: 0.5rem;
}

header .logo .textosLogo {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

header .logo .textosLogo a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header .header .menu {
    display: grid;
    align-content: center;
}

header .header .menu ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

header .header .menu ul .servicios:hover .subMenu{
    visibility: visible;
}

header .header .menu ul a {
    display: grid;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}

header .header .menu ul a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
}

header .header .menu ul .servicios .subMenu {
    position:absolute;
    visibility: hidden;
    display: grid;
    grid-auto-flow: row;
    background-color: #000;
}

header .header .menu ul .servicios .subMenu a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
}

.inicio .textosInicio{
    width: 85%;
    margin: auto;
}

.inicio .textosInicio .eslogan {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.inicio .textosInicio p {
    font-size: 1.5rem;
    color: #fff; 
    margin-top: 10rem;
}

.inicio .textosInicio h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 6rem;
}

.inicio .textosInicio .fa-chevron-down {
    color: #fff;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 0.5rem;
}

/* -----------  -----------  WHATSAPP  -----------  ----------- */

.whatsapp {
    width: 70%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.whatsapp .textosWhatsapp {
    margin-left: 8rem;
}

.whatsapp .textosWhatsapp h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.whatsapp .textosWhatsapp h4 {
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.whatsapp .textosWhatsapp p {
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.whatsapp .textosWhatsapp a {
    text-decoration: none;
    border: 2.5px solid #128c7e;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-size: 1.5rem;
    color: #128c7e;
    border-radius: 50px;
}

.whatsapp .textosWhatsapp a:hover {
    background-color: #128c7e;
    color: #fff;
}

/* -----------  -----------  NOSOTROS  -----------  ----------- */



.nosotros .textosNosotros {
    width: 85%;
    margin: auto;
    text-align: center;
}

.nosotros .textosNosotros h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.nosotros .textosNosotros p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.nosotros .video video {
    width: 100%;
}

/* -----------  -----------  NUESTRA CULTURA  -----------  ----------- */

.nosotros .nuestraCultura {
    width: 85%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.nosotros .nuestraCultura .textosNuestraCultura {
    padding: 0 0 0 7rem;
}

.nosotros .nuestraCultura .textosNuestraCultura h3 {
    margin-bottom: 2rem;
}

.nosotros .nuestraCultura .textosNuestraCultura .textoDecorativo {
    font-size: 1.3rem;
    padding: 1rem;
    color: #e35b52;
    font-weight: bold;
}

.nosotros .nuestraCultura  .imagenNuestrCultura img {
    width: 100%;
}

/* -----------  -----------  TIPO DE EVENTOS  -----------  ----------- */
.tipoDeEventos {
    width: 80%;
    margin: 3rem auto;
}

.tipoDeEventos h3 {
    text-align: center;
    margin: 3rem auto 2rem;
}

.tipoDeEventos .tarjetasChicas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
   
}

.tipoDeEventos .tarjetasChicas .tarjetitas:hover {
    transform: scale(1.03);
    transition-duration: 0.7s;
}

.tipoDeEventos .tarjetasChicas .tarjetitas img {
    width: 100%; 
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas {
    background-color: #ededed;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .textos {
    padding: 0.5rem 0rem 1rem 0.5rem;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas p {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .cursiva {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    color: #000;
	font-size: 1.5rem;
}

/* -----------  -----------  SERVICIOS  -----------  ----------- */

.servicio {
    width: 85%;
    margin: 3rem auto;
}

.servicio .textosServicios {
    text-align: center;
    margin: 2rem;
}

.servicio .tarjetasGrandes {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-gap: 2rem;
}

.servicio .tarjetasGrandes .serviciosTarjetas img {
    width: 100%;
}

.servicio .tarjetasGrandes .serviciosTarjetas .textosServiciosDos {
    margin: 1rem;
}

.servicio .tarjetasGrandes .serviciosTarjetas .textosServiciosDos .cursiva {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    color: #000;
    font-size: 1.5rem;
    text-align: left;
}

.servicio .tarjetasGrandes .serviciosTarjetas .textosServiciosDos .textoTarjetasGrandes {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.servicio .tarjetasGrandes .serviciosTarjetas  .textosServiciosDos .texterio {
    text-align: center;
    margin-top: 0.5rem;
}

.servicio .tarjetasGrandes .serviciosTarjetas .textosServiciosDos .verMas {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    background-color: #000;
    border-radius: 50px;
    margin: 1.5rem 5rem;
}

.servicio .tarjetasGrandes .serviciosTarjetas:hover {
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
    transition-duration: 0.7s;
}

/* -----------  -----------  CLIENTES  -----------  ----------- */

.clientes {
    width: 85%;
    margin: auto;
    text-align: center;
}



/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */

@media screen and (max-width:800px) {

    h3 {
        font-size: 2rem;
    }

    .inicio .fixed a .fa-chevron-circle-up {
    margin: 1rem;
    }

    .inicio .flotantes {
    margin: 0.7rem;
    }

    header .logo {
        margin: auto;
    }

    h2 {
        font-size: 1.2rem;
    }

    header .logo .imagen img {
        width: 25px;
    }
    
    header .logo .textosLogo a {
        font-size: .8rem;
    }

    header .header .menu ul a {
        font-size: 0.8rem;
    }

    header .header .menu ul {
        justify-content: center;
    }
    
    .inicio .textosInicio p {
        font-size: 1rem;
        color: #fff; 
        margin-top: 10rem;
    }
    
    .inicio .textosInicio h1 {
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 12rem;
    }

    /* -----------  -----------  WHATSAPP  -----------  ----------- */

    .whatsapp {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .whatsapp .imagenWhatsapp img {
        display: none;
    }

    .whatsapp .textosWhatsapp {
        margin-left: 0rem;
        text-align: center;
    }

    .whatsapp .textosWhatsapp h3 {
        font-size: 2rem;
        margin-top: 0rem;
    }

    .whatsapp .textosWhatsapp h4 {
        font-size: 1.5rem;
    }
    
    .whatsapp .textosWhatsapp p {
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    /* -----------  -----------  NUESTRA CULTURA  -----------  ----------- */

    .nosotros .textosNosotros p {
        font-size: 0.8rem;
    }

    .nosotros .nuestraCultura .textosNuestraCultura h3,
    .nosotros .nuestraCultura .textosNuestraCultura ul,
    .nosotros .nuestraCultura .textosNuestraCultura .textoDecorativo {
        display: none;
    }

    .nosotros .nuestraCultura {
        width: 100%;
    }

    .nosotros .nuestraCultura .textosNuestraCultura {
    padding: 1rem 0.5rem 0 0.5rem;
    }
    
    /* -----------  -----------  TIPO DE EVENTOS  -----------  ----------- */

    .tipoDeEventos {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas p {
        font-size: 1rem;
    }
    
    .tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .cursiva {
        font-size: 1rem;
    }

    .tipoDeEventos .tarjetasChicas {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
    }

    /* -----------  -----------  SERVICIOS  -----------  ----------- */

.servicio .textosServicios p {
    font-size: 0.8rem;
}
}