*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "minion-pro", serif;
    font-size: 16px;
    user-select: none;
}

hr {
    width: 85%;
    margin: auto;
    color: #b5b5b5;
}

h2 {
    display: inline;
    font-size: 1.7rem;
    font-style: bold;
    color: #fff;
    padding-bottom: 0.2rem;
}
h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    color: #b0b0b0;
}

.inicio .fixed a,
.inicio .flotantes a {
    text-decoration: none;
    color: #cfcfcf;
}

.inicio .fixed a .fa-chevron-circle-up {
    position: fixed;
    font-size: 2.5rem;
    bottom: 0%;
    left: 0%;
    margin: 1.5rem;
}

.inicio .flotantes {
    position: fixed;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    font-size: 1.8rem;
    color: #cfcfcf;
    top: 40%;
    right: 0%;
    margin: 1rem;
}

/* ----------  ----------  HEADER ----------  ----------*/

.inicio {
    background-image: url('img/uno.jpg');
    background-repeat: none;
    background-size: cover;
}

header {
    background-color: rgba(0,0,0,0.5);
}

.header {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

header .logo {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header .logo .imagen img {
    width: 30px;
    margin: 0.5rem;
}

header .logo .textosLogo {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

header .logo .textosLogo a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header .header .menu {
    display: grid;
    align-content: center;
}

header .header .menu ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

header .header .menu ul .servicios:hover .subMenu{
    visibility: visible;
}

header .header .menu ul a {
    display: grid;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}

header .header .menu ul a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
}

header .header .menu ul .servicios .subMenu {
    position:absolute;
    visibility: hidden;
    display: grid;
    grid-auto-flow: row;
    background-color: #000;
}

header .header .menu ul .servicios .subMenu a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
}

.inicio .textosInicio{
    width: 85%;
    margin: auto;
}

.inicio .textosInicio .eslogan {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.inicio .textosInicio p {
    font-size: 1.5rem;
    color: #fff; 
    margin-top: 5rem;
}

.inicio .textosInicio h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}

.inicio .textosInicio .fa-chevron-down {
    color: #fff;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 0.5rem;
}

/* -----------  -----------  WHATSAPP  -----------  ----------- */

/* .whatsapp {
    width: 70%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.whatsapp .textosWhatsapp {
    margin-left: 8rem;
}

.whatsapp .textosWhatsapp h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.whatsapp .textosWhatsapp h4 {
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.whatsapp .textosWhatsapp p {
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.whatsapp .textosWhatsapp a {
    text-decoration: none;
    border: 2.5px solid #128c7e;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-size: 1.5rem;
    color: #128c7e;
    border-radius: 50px;
}

.whatsapp .textosWhatsapp a:hover {
    background-color: #128c7e;
    color: #fff;
} */

/* -----------  -----------  NOSOTROS  -----------  ----------- */

/* .nosotros .textosNosotros {
    width: 85%;
    margin: auto;
    text-align: center;
}

.nosotros .textosNosotros h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.nosotros .textosNosotros p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nosotros .video video {
    width: 100%;
} */

/* -----------  -----------  NUESTRA CULTURA  -----------  ----------- */

/* .nosotros .nuestraCultura {
    width: 85%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.nosotros .nuestraCultura .textosNuestraCultura {
    padding: 0 0 0 7rem;
}

.nosotros .nuestraCultura .textosNuestraCultura h3 {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.nosotros .nuestraCultura .textosNuestraCultura .textoDecorativo {
    font-size: 1.3rem;
    color: #e35b52;
    font-weight: bold;
}

.nosotros .nuestraCultura  .imagenNuestrCultura img {
    width: 100%;
} */

/* -----------  -----------  TIPO DE EVENTOS  -----------  ----------- */
/* .tipoDeEventos {
    width: 80%;
    margin: 3rem auto;
}

.tipoDeEventos h3 {
    text-align: center;
    margin: 6rem auto 2rem;
}

.tipoDeEventos .tarjetasChicas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
   
}

.tipoDeEventos .tarjetasChicas .tarjetitas:hover {
    transform: scale(1.03);
    transition-duration: 0.7s;
}

.tipoDeEventos .tarjetasChicas .tarjetitas img {
    width: 100%; 
    border-radius: 1rem;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas {
    background-color: #ededed;
    border-radius: 1rem;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .textos {
    padding: 0.5rem 0rem 1rem 0.5rem;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas p {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}

.tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .cursiva {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    color: #000;
	font-size: 1.5rem;
} */

/* -----------  -----------  SERVICIOS  -----------  ----------- */

.servicio {
    width: 85%;
    margin: 1rem auto;
}

.servicio .textosServicios {
    text-align: center;
    margin: 2rem;
}

.servicio .tarjetas-chicas {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px, 1fr));
    grid-gap: 1.5rem;
}
.servicio .tarjetas-chicas .serviciosTarjetas img {
    width: 100%;
    border-radius: 1.5rem;
}

.servicio .tarjetas-chicas .serviciosTarjetas .textosServiciosDos {
    margin: 1rem;
}

.servicio .tarjetas-chicas .serviciosTarjetas .textosServiciosDos .cursiva {
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    color: #000;
    font-size: 1.5rem;
    text-align: left;
}
.servicio .tarjetas-chicas .serviciosTarjetas .textosServiciosDos .cursiva .span-numero{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.servicio .tarjetas-chicas .serviciosTarjetas .textosServiciosDos .textoTarjetasChica {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.servicio .tarjetas-chicas .serviciosTarjetas  .textosServiciosDos .texterio {
    text-align: left;
    margin-top: 0.5rem;
}

.servicio .tarjetas-chicas .serviciosTarjetas .textosServiciosDos .verMas {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 3px;
    background-color: rgb(83, 83, 83);
    border-radius: 50px;
    margin: 20px 15px;
}
.servicio .tarjetas-chicas .serviciosTarjetas .textosServiciosDos .verMas:hover {
    background-color: rgb(27, 27, 27);
}

.servicio .tarjetas-chicas .serviciosTarjetas:hover {
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
    transition-duration: 0.7s;
}

/* -----------  -----------  LA RECEPCION  -----------  ----------- */

.la-recepcion{
    margin:60px auto;
    width: 80%;
}
.la-recepcion .titulo-la-recepcion{
    text-align: center;
}
.la-recepcion .titulo-la-recepcion .span-la{
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    color: #000;
    font-size: 3.5rem;
}
.la-recepcion .titulo-la-recepcion .span-h4{
    font-weight: 800;
    font-size: 3rem;
}
.la-recepcion .titulo-la-recepcion .span-entre-parentesis{
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
}
.la-recepcion .contenedor-informacion{
    display: flex;
    margin:20px;

}
.la-recepcion .contenedor-informacion .textos-la-recepcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dotted;
    border-width: 2.5px 0px;
    border-color: #b0b0b0;
    margin: 0px 30px;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .items{
    margin:auto;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .linte-punteada{
    border-style: dotted;
    border-width: 0 0 2px 0;
    margin: 10px;
    padding: 15px;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .acotacion-al-margen{
    font-size: 1.4rem;
    color: rgb(180, 88, 88);
    width: 90%;
    margin: auto;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .span-items{
    color: #000;
    font-weight: 600;
}
/* -----------  -----------  CLIENTES  -----------  ----------- */

/* .clientes {
width: 100%;
margin: auto;
text-align: center;
}

.clientes .textosClientes h3 {
    padding-top: 1rem;
}

.clientes .textosClientes p {
    width: 55%;
    padding-top: 1rem;
    margin: auto;
}

.clientes .imagenClientes img {
    width: 100%;
}

.clientes .imagenClientes {
    width: 85%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
    margin: auto;
} */

/* -----------  -----------  COMENTARIOS  -----------  ----------- */

/* .comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 235, 188);
}
.comentarios .titulo-comentarios{
    text-align: center;
}
.comentarios .textoComentarios{
    width: 70%;
    margin: 20px auto;
}
.comentarios .contenedorComentarios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.comentarios .contenedorComentarios .botonAtras, 
.comentarios .contenedorComentarios .botonAdelante{
    padding: 20px;
    font-size: 42px;
    cursor: pointer;
} 
.comentarios .comentario .textoDelComentario{
    font-size: 28px;
    width: 75%;
    text-align: center;
    margin: auto;
}
.comentarios .contenedorComentarios .comentario .autorDelComentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
} */


/* -----------  -----------  FOOTER  -----------  ----------- */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
.footer .contenedor-info-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .contenedor-info-footer .logo{
    display: flex;
    align-items: center;
    margin: 20px;
}
.footer .contenedor-info-footer .logo .img{
    width: 45px;
    margin: 10px;
}
.footer .contenedor-info-footer .logo .textos-logo .slogan{
    color: #fff;
    font-size: 16.8px;
}
.footer .contenedor-info-footer .anchor{
    color: #fff;
    cursor: pointer;
    margin: auto;
}
.footer .contenedor-info-footer .contactanos .iconos-footer{
    color: rgb(119, 119, 119);
    font-size: 25px;
    margin: 40px;
    
}
.footer .footerDelFooter{
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px;
}
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */

@media screen and (max-width:800px) {

    h3 {
        font-size: 2rem;
    }

    .inicio .fixed a .fa-chevron-circle-up {
    margin: 1rem;
    }

    .inicio .flotantes {
    margin: 0.7rem;
    }

    header .logo {
        margin: auto;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    header .logo .imagen img {
        width: 25px;
    }
    
    header .logo .textosLogo a {
        font-size: .8rem;
    }

    header .header .menu ul a {
        font-size: 0.8rem;
    }

    header .header .menu ul {
        justify-content: center;
    }
    
    .inicio .textosInicio p {
        font-size: 1rem;
        color: #fff; 
        margin-top: 10rem;
    }
    
    .inicio .textosInicio h1 {
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 12rem;
    }

    /* -----------  -----------  WHATSAPP  -----------  ----------- */

    .whatsapp {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .whatsapp .imagenWhatsapp img {
        display: none;
    }

    .whatsapp .textosWhatsapp {
        margin-left: 0rem;
        text-align: center;
    }

    .whatsapp .textosWhatsapp h3 {
        font-size: 2rem;
        margin-top: 0rem;
    }

    .whatsapp .textosWhatsapp h4 {
        font-size: 1.5rem;
    }
    
    .whatsapp .textosWhatsapp p {
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    /* -----------  -----------  NUESTRA CULTURA  -----------  ----------- */

    .nosotros .textosNosotros p {
        font-size: 0.8rem;
    }

    .nosotros .nuestraCultura .textosNuestraCultura h3,
    .nosotros .nuestraCultura .textosNuestraCultura ul,
    .nosotros .nuestraCultura .textosNuestraCultura .textoDecorativo {
        display: none;
    }

    .nosotros .nuestraCultura {
        width: 100%;
    }

    .nosotros .nuestraCultura .textosNuestraCultura {
    padding: 1rem 0.5rem 0 0.5rem;
    }
    
    /* -----------  -----------  TIPO DE EVENTOS  -----------  ----------- */

    .tipoDeEventos {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas p {
        font-size: 1rem;
    }
    
    .tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .cursiva {
        font-size: 1rem;
    }

    .tipoDeEventos .tarjetasChicas {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0.5rem;
    }

    .clientes .textosClientes p {
        width: 100%;
    }

    /* -----------  -----------  SERVICIOS  -----------  ----------- */

    .servicio .textosServicios p {
        font-size: 0.8rem;
    }

    .servicio .tarjetasGrandes .serviciosTarjetas {
        background-color: #ededed;
        border-radius: 1rem;
    }

    /* -----------  -----------  CLIENTES  -----------  ----------- */

    .container .carousel {
        height: 200px;
        margin-top: 0rem;
     }

     .carousel .carousel-item {
        width: 180px;
    }

    /* -----------  -----------  COMENTARIOS     -----------  ----------- */

    .comentarios .ubicacion iframe {
        width: 100%;
        height: 40vw;
    }

     
}