*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "minion-pro", serif;
    font-size: 16px;
    user-select: none;
}

hr {
    width: 85%;
    margin: auto;
    color: #b5b5b5;
}

h2 {
    display: inline;
    font-size: 1.7rem;
    font-style: bold;
    color: #fff;
    padding-bottom: 0.2rem;
}
h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    color: #b0b0b0;
}

.inicio .fixed a,
.inicio .flotantes a {
    text-decoration: none;
    color: #cfcfcf;
}

.inicio .fixed a .fa-chevron-circle-up {
    position: fixed;
    font-size: 2.5rem;
    bottom: 0%;
    left: 0%;
    margin: 1.5rem;
}

.inicio .flotantes {
    position: fixed;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    font-size: 1.8rem;
    color: #cfcfcf;
    top: 40%;
    right: 0%;
    margin: 1rem;
}

/* ----------  ----------  HEADER ----------  ----------*/

.inicio {
    background-image: url('img/inicio.jpg');
    background-repeat: none;
    background-size: cover;
}

header {
    background-color: rgba(0,0,0,0.5);
}

.header {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

header .logo {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header .logo .imagen img {
    width: 30px;
    margin: 0.5rem;
}

header .logo .textosLogo {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

header .logo .textosLogo a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header .header .menu {
    display: grid;
    align-content: center;
}

header .header .menu ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

header .header .menu ul .servicios:hover .subMenu{
    visibility: visible;
}

header .header .menu ul a {
    display: grid;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}

header .header .menu ul a:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
}

header .header .menu ul .servicios .subMenu {
    position:absolute;
    visibility: hidden;
    display: grid;
    grid-auto-flow: row;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
}

header .header .menu ul .servicios .subMenu a:hover {
    /* text-decoration: underline; */
    background-color: #fff;
    color: #000;
}

.inicio .textosInicio{
    width: 85%;
    margin: auto;
}

.inicio .textosInicio .eslogan {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.inicio .textosInicio p {
    font-size: 1.5rem;
    color: #fff; 
    margin-top: 5rem;
}

.inicio .textosInicio h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 6rem;
}

.inicio .textosInicio .fa-chevron-down {
    color: #fff;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 0.5rem;
}

/* -----------  -----------  GALERIA DE FOTOS  -----------  ----------- */

.la-recepcion{
    margin:60px auto;
    width: 75%;
}
.la-recepcion .titulo-la-recepcion{
    text-align: center;
}

.la-recepcion p{
    text-align: center;
    font-size: 1.2rem;
}
.la-recepcion .titulo-la-recepcion .span-la{
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    color: #000;
    font-size: 3.5rem;
}
.la-recepcion .titulo-la-recepcion .span-h4{
    font-weight: 800;
    font-size: 3rem;
}
.la-recepcion .fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 50px;
    /* grid-template-areas: ; */
}
.la-recepcion .fotos .img-efecto:hover{
    transform: scale(1.5);
    border-radius: 20px;
    transition: 0.7s;
}

/* .la-recepcion .titulo-la-recepcion .span-entre-parentesis{
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
}
.la-recepcion .contenedor-informacion{
    display: flex;
    margin:20px;

}
.la-recepcion .contenedor-informacion .textos-la-recepcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dotted;
    border-width: 2.5px 0px;
    border-color: #b0b0b0;
    margin: 0px 30px;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .items-en-dos-columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .items{
    margin:auto;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .tipo-de-entrada{
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
    margin: 30px 0 0 0;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .linte-punteada{
    border-style: dotted;
    border-width: 0 0 2px 0;
    margin: 5px;
    padding: 10px;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .acotacion-al-margen{
    font-size: 1.4rem;
    color: rgb(180, 88, 88);
    width: 90%;
    margin: auto;
}
.la-recepcion .contenedor-informacion .textos-la-recepcion .span-items{
    color: #000;
    font-weight: 600;
} */

/* -----------  -----------  FOOTER  -----------  ----------- */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
.footer .contenedor-info-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .contenedor-info-footer .logo{
    display: flex;
    align-items: center;
    margin: 20px;
}
.footer .contenedor-info-footer .logo .img{
    width: 45px;
    margin: 10px;
}
.footer .contenedor-info-footer .logo .textos-logo .slogan{
    color: #fff;
    font-size: 16.8px;
}
.footer .contenedor-info-footer .anchor{
    color: #fff;
    cursor: pointer;
    margin: auto;
}
.footer .contenedor-info-footer .contactanos .iconos-footer{
    color: rgb(119, 119, 119);
    font-size: 25px;
    margin: 40px;
}
.footer .contenedor-info-footer .contactanos .iconos-footer:hover{
    color: #fff;
}
.footer .footerDelFooter{
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px;
}
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */
/* -----------  -----------  MEDIA QUERIES  -----------  ----------- */

@media screen and (max-width:800px) {

    h3 {
        font-size: 2rem;
    }

    .inicio .fixed a .fa-chevron-circle-up {
    margin: 1rem;
    }

    .inicio .flotantes {
    margin: 0.7rem;
    }

    header .logo {
        margin: auto;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }

    header .logo .imagen img {
        width: 25px;
    }
    
    header .logo .textosLogo a {
        font-size: .8rem;
    }

    header .header .menu ul a {
        font-size: 0.8rem;
    }

    header .header .menu ul {
        justify-content: center;
    }
    
    .inicio .textosInicio p {
        font-size: 1rem;
        color: #fff; 
        margin-top: 10rem;
    }
    
    .inicio .textosInicio h1 {
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 12rem;
    }

    /* -----------  -----------  WHATSAPP  -----------  ----------- */

    .whatsapp {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .whatsapp .imagenWhatsapp img {
        display: none;
    }

    .whatsapp .textosWhatsapp {
        margin-left: 0rem;
        text-align: center;
    }

    .whatsapp .textosWhatsapp h3 {
        font-size: 2rem;
        margin-top: 0rem;
    }

    .whatsapp .textosWhatsapp h4 {
        font-size: 1.5rem;
    }
    
    .whatsapp .textosWhatsapp p {
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    /* -----------  -----------  NUESTRA CULTURA  -----------  ----------- */

    .nosotros .textosNosotros p {
        font-size: 0.8rem;
    }

    .nosotros .nuestraCultura .textosNuestraCultura h3,
    .nosotros .nuestraCultura .textosNuestraCultura ul,
    .nosotros .nuestraCultura .textosNuestraCultura .textoDecorativo {
        display: none;
    }

    .nosotros .nuestraCultura {
        width: 100%;
    }

    .nosotros .nuestraCultura .textosNuestraCultura {
    padding: 1rem 0.5rem 0 0.5rem;
    }
    
    /* -----------  -----------  TIPO DE EVENTOS  -----------  ----------- */

    .tipoDeEventos {
        width: 90%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas p {
        font-size: 1rem;
    }
    
    .tipoDeEventos .tarjetasChicas .tarjetitas .fondoTarjetitas .cursiva {
        font-size: 1rem;
    }

    .tipoDeEventos .tarjetasChicas {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0.5rem;
    }

    .clientes .textosClientes p {
        width: 100%;
    }

    /* -----------  -----------  SERVICIOS  -----------  ----------- */

    .servicio .textosServicios p {
        font-size: 0.8rem;
    }

    .servicio .tarjetasGrandes .serviciosTarjetas {
        background-color: #ededed;
        border-radius: 1rem;
    }

    /* -----------  -----------  CLIENTES  -----------  ----------- */

    .container .carousel {
        height: 200px;
        margin-top: 0rem;
     }

     .carousel .carousel-item {
        width: 180px;
    }

    /* -----------  -----------  COMENTARIOS     -----------  ----------- */

    .comentarios .ubicacion iframe {
        width: 100%;
        height: 40vw;
    }

     
}